<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>快来试试星搭屋吧！</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <p>
          你的衣橱还乱糟糟吗？还在为每天的穿搭发愁吗？😫<br>
          为全家和团队规划穿搭让你头疼？<br>
          厌倦了千篇一律的穿搭？<br>
          快来是试试星搭屋！💃<br>
        </p>
        <p>
          星搭屋致力于为每一个追求时尚与效率的你，提供智能化的穿搭建议。💡<br>
          无论是日常通勤、旅行度假，还是商务场合、聚会活动，<br>
          星搭屋都能通过AI技术为你量身推荐最合适的穿搭，让每一天的穿搭选择变得轻松、简单、充满创意。 ✨<br>
          高效简单的搭配，你最贴心的小搭子 🤗
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> 扫码安装
        </a>
      </div>
    </div>
  </div>
</section>
